/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* GENERAL UNIVERSAL */
* {
    box-sizing: 0;
    margin: 0;
}

body, p {
    font-family: poppin, sans-serif;
}


a, btn {
    transition: all 300ms ease;
}



/* Main section */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: darkgray;
}

.text_name, .text_sub {
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font: 16px;
    font-weight: 300;
}

.profile_pic {
    height: 200px;
    border: solid 3px;
    border-radius: 100px;
    background-color: white;
    margin: 20px;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}


.links_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px;
    border-radius: 25px;
    width: 500px;
    padding: 20px;
    margin: 0 auto;
}

/* making gap for icon and leave text in the middle */
.fa-solid, .fa-user-tie, .fa-solid, .fa-code, .fa-brands, .fa-youtube, .fa-solid, .fa-computer, .fa-solid, .fa-envelope {
    margin-right: 50px;
}

.text_p2 a {
    display: block;
    text-align: center;
}